/*===== VARIABLES CSS =====*/
:root {
    /*========== Cells ==========*/
    --cell-border: lightgrey;
    --cell-fill: steelblue;
    --cell-stroke: black;
    --cell-stroke-width: 1;
}


.border>polygon {
    fill: transparent;
    stroke: var(--cell-border);
}

.border>polygon:hover {
    fill: var(--cell-border);
}



.cell>polygon {
    stroke: var(--cell-stroke);
    fill: var(--cell-fill);
    stroke-width: var(--cell-stroke-width);
}

.cell>circle {
    stroke: var(--cell-stroke);
    fill: var(--cell-stroke);
}


/* Dark Mode */
div.dark .cell>polygon {
    stroke: var(--cell-border);
}

div.dark .cell>circle {
    stroke: var(--cell-border);
    fill: var(--cell-border);
}